<%- include('./partials/head', {title:"Mensaje"}) %>


<% if (locals.login) { %>
  <%- include('./partials/bodyColor') %> 
<% } else{ %>
  <body class="index_body">
<% } %>

    <header class="index_header">
      <h1>Session & Cookies</h1>
    </header>
    <main class="index_main">
      <section class="index_section">
        <h1 class="" >Mensaje</h1>
        <p class="mensaje">
          Hola <%= locals.login.name%>, <% if (locals.login.colores=="") { %>
             no elegiste color,
          <% }else{ %>
            elegiste el color <%= locals.login.colores %>,
          <% } %>
                    
          tu email es <%= locals.login.email %> y tienes <%= locals.login.edad %> años de edad 
        </p>
        <div class="button_cont">
          <a class="Boton" href="/users/logout">Continuar</a>
        </div>
      </section>
    </main>

  </body>
</html>